.btn-kits{
    color:rgb(52, 78, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 213, 141);
    border: none;
    padding: 8px 20px;
    width: 100%;
    
}

.btn-kits:hover{
    background-color: #A05C2D;
    color: white;
}